#bac-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#data-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#study-text {
    text-align: center;
}